###############################################################################
# nifi runtime configuration
#
# {{ ansible_managed }}
#
###############################################################################

# Java version for nifi
{% if java_home is defined %}
JAVA_HOME={{ java_home }}
{% elif ansible_local.java.java_home is defined %}
JAVA_HOME={{ ansible_local.java.java_home }}
{% else %}
# JAVA_HOME=/usr/java/default
{% endif %}

# Location of nifi installation
NIFI_HOME={{ nifi.home_dir }}

# Directory whence nifi shall produce logs
NIFI_LOG_DIR={{ nifi.log_dir }}

# Directory whence nifi shall write its process id
NIFI_PID_DIR={{ nifi.run_dir }}
